<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block-full--link__expand use-ajax"  data-dialog-options="{{ dialog_options |json_encode() }}"  data-dialog-type="{{ dialog_type }}" data-dialog-renderer="{{ dialog_renderer }}" href="{{ url }}">
      <span class="cart-block--summary__icon">{{ icon }}</span>
      <span class="cart-block--summary__count">{{ count_text }}</span>
    </a>
  </div>
</div>
